/* Universal Styles */

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #4a4a4a;
}

a {
    text-decoration: none;
    color: #4a4a4a;
}

h1 {
    font-size: 2.7rem;
    font-weight: 900;
}

blockquote p {
    line-height: 1.5rem;
    letter-spacing: .06rem;
    font-weight: 300;
}

.content-left {
    width: 60%;
    box-sizing: border-box;
}

.content-left img, .content-left video {
    width: 100%;
    height: auto;
    padding: 2rem 1.5rem;
    box-sizing: border-box;
}

.content-right {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    padding: 2rem 0;
}

.content-right .container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-right .container img {
    width: 35%;
    height: auto;
    margin: 1rem;
}

.content-right .container .info-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-right .container .info-container p {
    font-weight: 300;
    padding: .5rem 0;
    line-height: 1.5rem;
    color: #8a8b8b;
}

.content-right .container .background-grey {
    background: #d8d8d8; 
}

.content-right .container .border {
    margin: 0;
    border: 1rem solid #d8d8d8; 
}

/* Header */

.header {
    height: 64px;
    width: 100%;
    padding: 0 1.5rem;
    background: #ffffff;
    box-sizing: border-box;
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    display: flex;
    align-items: baseline;
}
.logo a {
    font-size: 2rem;
    color: #4a4a4a;
}

.logo .bold {
    font-weight: 700;
}

 .logo .color-gray {
    color: #9b9b9b;
}

.main-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-navigation a {
    color: #4a4a4a;
}

.main-navigation li {
    list-style-type: none;
    padding-right: 1rem;
    display: inline-flex;
}

/* Main Content */

/* Subscription Section */

#subscription-section {
    background: #d8d8d8;
    padding-top: 4rem;
    display: inline-flex;    
}

#subscription-section .content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
}

#subscription-section .content-right h1, p {
    padding-bottom: 1.7rem;
}

#subscription-section .content-right p {
    line-height: 1.5rem;
    letter-spacing: .09rem;
    font-size: 1.3rem;
}

#subscription-section .content-right button {
    background: #4a4a4a;
    width: 300px;
    height: 40px;
    padding: .5rem;
    font-size: .9rem;
    letter-spacing: .08rem;
}

#subscription-section .content-right a {
    color: #ffffff;
}

/* Bulletin Section */

#bulletin-section, .thesis-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bulletin-section .content-left .quote-box {
    padding: 0 1.5rem 2rem;
}

.content-left .quote-box h2 {
    padding-bottom: 1.5rem;
}

.content-left .quote-box a {
    text-decoration: none;
    color: #4a4a4a;
    font-style: normal;
}

#bulletin-section .content-right {
    border-left: 1.5px solid #d8d8d8;
}

#bulletin-section .content-right .container {
    border-top: 1.5px solid #d8d8d8;
}

#bulletin-section .info-container a {
    color: #5898e3;
}

/* Learning Section */

#learning-section {
    background: #d8d8d8;
    padding: 0 2.5rem 0 4.5rem;
}

#learning-section h2 {
    text-align: center;
    padding: 2rem;
} 

.courses-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.course-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 2rem;
    padding-right: 2rem;
    line-height: 1.5rem;
    flex: 1 0 33%;
    justify-content: center;
}

#learning-section img {
    height: auto;
    max-width: 100%;
}

.subject {
    background: #ffffff ;
    padding: 1rem 1rem 1.5rem;
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    flex: 1 1 0
}

.subject span {
    font-weight: 300;
    padding-top: .5rem;
    color: #9d9d9d;
}

/* Thesis Section */

#thesis-section h2 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0 0;
}

#thesis-section .content-left h3 {
    padding-left: 1.5rem;
}

#thesis-section .content-left p {
    padding: .5rem 0 2rem 1.5rem;
}

/* Footer */

footer {
    padding: 1rem 1.5rem 2rem;
    border-top: 1.5px solid #d8d8d8;
    font-weight: 300;
    color: #838383;
}

.terms-privacy {
    position: absolute;
    display: inline-block;
    right: 20px;
}

.terms-privacy a {
    padding-left: .5rem;
    color: #838383;
}