/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #4a4a4a;
}

a {
    text-decoration: none;
    color: #4a4a4a;
}

h1 {
    font-size: 2.3rem;
    font-weight: 900;
}

blockquote p {
    line-height: 1.5rem;
    letter-spacing: .06rem;
    font-weight: 300;
}

.content-left {
    width: 60%;
    box-sizing: border-box;
}

.content-left img, .content-left video {
    width: 100%;
    height: auto;
    padding: 2rem 1.5rem;
    box-sizing: border-box;
}

.content-right {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    padding: 2rem 0;
    box-sizing: border-box;
}

.content-right .container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-right .container img {
    width: 35%;
    height: auto;
    margin: 1rem;
}

.content-right .container .info-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-right .container .info-container p {
    font-weight: 300;
    padding: .5rem 0;
    line-height: 1.5rem;
    color: #8a8b8b;
}

.content-right .container .background-grey {
    background: #d8d8d8; 
}

.content-right .container .border {
    margin: 0;
    border: 1rem solid #d8d8d8; 
}

@media only screen and (max-width: 665px) {
    h2 {
        font-size: 2.2rem;
    }
}

/* Header */

.header {
    height: 64px;
    width: 100%;
    padding: 0 1.5rem;
    background: #ffffff;
    box-sizing: border-box;
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.logo img {
    width: 35px;
    display: flex;
    align-items: baseline;
}

.logo a:nth-child(2) {
    font-weight: 700;
}

.logo a:last-child {
    color: #9b9b9b;
}

.desktop-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.desktop-navigation li {
    padding-right: 1rem;
    display: inline-flex;
}

@media only screen and (min-width: 666px) {
    .header .mobile-navigation {
        display: none;
    }
}

@media only screen and (max-width: 665px) {
    .header, .logo, .desktop-navigation {
       display: none;
    }
    
     .header {
        height: 64px;
        width: 100vw;
        padding: 0;
        background: #ffffff;
        box-sizing: border-box;
        position: fixed;
        z-index: 5;
        display: flex;
        justify-content: center; 
        align-items: center; 
    }    
    .mobile-navigation, nav {
        width: 100%;
        display: flex;
    }

    .mobile-navigation ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    .mobile-navigation img {
        width: 35px;
    }

}


/* Main Content */

/* Subscription Section */

#subscription-section {
    background: #d8d8d8;
    padding-top: 4rem;
    display: inline-flex;    
}

#subscription-section .content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
}

#subscription-section .content-right h1, p {
    padding-bottom: 1.7rem;
}

#subscription-section .content-right p {
    line-height: 1.5rem;
    letter-spacing: .09rem;
    font-size: 1.3rem;
}

#subscription-section .content-right button {
    background: #4a4a4a;
    width: 300px;
    height: 40px;
    padding: .5rem;
    font-size: .9rem;
    letter-spacing: .08rem;
    color: #ffffff;
    cursor: pointer;
}

@media only screen and (max-width: 665px) {
    #subscription-section {
        display: flex;
        flex-flow: column wrap;
        padding-top: 3rem;
        box-sizing: border-box;
    }

    #subscription-section .content-left {
        width: 100%;
    }

    #subscription-section img {
        padding: 0;
        max-width: 100%;
    }

    #subscription-section .content-right {
        display: flex;
        flex-flow: column wrap;
        max-width: none;
        width: 100%;
        padding: 2rem 1rem;
    }

    #subscription-section .content-right h1 {
        padding-bottom: 2rem;
    }

    #subscription-section .content-right p {
        padding-bottom: 1.5rem;
    }

    #subscription-section .content-right button {
        background: #9b9b9b;
        height: 50px;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: .05rem;
    }

}

/* Bulletin Section */

.bulletin-desktop,.thesis-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bulletin-desktop .content-left .quote-box {
    padding: 0 1.5rem 2rem;
}

.content-left .quote-box h2 {
    padding-bottom: 1.5rem;
}

.content-left .quote-box a {
    text-decoration: none;
    color: #4a4a4a;
    font-style: normal;
}

.bulletin-desktop .content-right {
    border-left: 1.4px solid #d8d8d8;
}

.bulletin-desktop .content-right .container {
    border-top: 1.4px solid #d8d8d8;
}

.bulletin-desktop .info-container a {
    color: #5898e3;
}

@media only screen and (min-width: 666px) {
    .bulletin-mobile {
        display: none;
    }
}

@media only screen and (max-width: 665px) {
    .bulletin-desktop {
        display: none;
    }

    .bulletin-mobile {
        padding: 1rem 1rem 2rem;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-flow: column wrap;
        background: #f3f5f5;
    }

    .bulletin-mobile img {
        width: 100%;
        height: auto;
    }

    .bulletin-mobile .container:first-child, .container:nth-child(2) {
        padding-bottom: 4rem;
    }

    .bulletin-mobile .info-container {
        padding-top: 1rem;
        /* line-height: 1.5rem; */
    } 

    .bulletin-mobile .info-container h3 {
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }

    .bulletin-mobile .info-container p {
        font-size: 1.2rem;
    }

    .bulletin-mobile .info-container a {
        font-size: 1.2rem;
        color: #5898e3;
    }

}

/* Learning Section */

.learning-desktop {
    background: #d8d8d8;
    padding: 0 2.5rem 0 4.5rem;
}

.learning-desktop h2 {
    text-align: center;
    padding: 2rem;
}

.courses-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.course-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 2rem;
    padding-right: 2rem;
    line-height: 1.5rem;
    flex: 1 0 33%;
    justify-content: center;
}

.learning-desktop img {
    height: auto;
    max-width: 100%;
}

.subject {
    background: #ffffff ;
    padding: 1rem 1rem 1.5rem;
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    flex: 1 1 0;
}

.subject span {
    font-weight: 300;
    padding-top: .5rem;
    color: #9d9d9d;
}

@media only screen and (min-width: 666px) {
    .learning-mobile {
        display: none;
    }
}

@media only screen and (max-width: 665px) {
    .learning-desktop .courses-container {
        display: none;
    }

    #learning-section {
        background: #f5f4f5;
        border-top: 1px solid #e9eaea;
        border-bottom: 1px solid #e9eaea;
        padding: 2rem 1rem 1.5rem;
    }

    .learning-mobile button {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        min-width: 256px;
        margin-bottom: .5rem;
        padding: 1rem 1rem 1.5rem;
        background: #d8d8d8;
        font-size: 1.5rem;
        box-sizing: border-box;
        cursor: pointer;
    }

    #learning-section h2 {
        padding: 0 2rem 1rem;
    }
}

/* Thesis Section */

#thesis-section h2 {
    text-align: center;
    padding: 2rem 0 0;
}

#thesis-section .content-left h3 {
    padding-left: 1.5rem;
}

#thesis-section .content-left p {
    padding: .5rem 0 2rem 1.5rem;
}

@media only screen and (min-width: 666px) {
    .thesis-mobile {
        display: none;
    }
}

@media only screen and (max-width: 665px) {
    .thesis-containers {
        display: none;
    }

    .thesis-mobile video {
        width: 100%;
        height: auto;
        padding: 1rem 0 1.5rem;
    }
}

/* Footer */

#page-footer {
    padding: 1rem 1.5rem 2rem;
    border-top: 1.5px solid #d8d8d8;
    font-weight: 300;
    color: #838383;
}

.terms-privacy {
    position: absolute;
    display: inline-block;
    right: 20px;
}

.terms-privacy a {
    padding-left: .5rem;
    color: #838383;
}

@media only screen and (max-width: 665px)
{
    .terms-privacy {
        display: none;
    }

    #page-footer {
        padding: 1rem;
        font-size: .8rem;
    }
}